* {
	margin: 0;
	padding: 0;
	}

body {
	margin: 0;
	padding: 0;
	}
	
p {
	margin: 0;
	padding: 0 0 10px 10px;
	}
	
.other p {
	margin-right: 10px;
	margin-left: 10px;
	padding: 0;
	}
	
strong {
	color: #336699;
	}

img {
	margin: 0;
	padding: 0;
	}
	
a:link {
	color: #336699;
	}
	
a:visited {
	color: #336699;
	}
	
a:hover {
	color: #336699;
	}
	
a:active {
	color: #336699;
	}
	
#mainContainer {
	margin: 0;
	padding: 0;
	width: 490px;
	font-family: verdana, san-serif;
	font-size: 12px;
	line-height: 110%;
	background-color: #FFFFFF;
	}

.clear {
	clear: both;
	}
.center {
	margin-left: -20px;
	text-align: center;
	}
.floatLeft {
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
	}
	
.floatLeftMargin {
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
	}
	
* html .floatLeftMargin {
	margin: 0;
	}

.floatRight {
	float: right;
	margin: 0;
	padding: 0;
	text-align: center;
	}
	
.floatLeftMarginTop {
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
	}
	
* html .floatLeftMarginTop {
	margin: 0;
	}
	
ul {
	padding: 0;
	text-align: left;
	list-style-type: disc;
	display: block;
	}

li {
	margin-left: 40px;
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 110%;
	}
